@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Font definitions */
@font-face {
    font-family: 'Romie';
    src: url('fonts/6571f090b4507b5df57e09d7_Romie-Regular-Italic.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'Romie';
    src: url('fonts/6571f0902a42b97d799bd635_Romie-Regular.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Romie';
    src: url('fonts/6571f090d6f8cdc4ef704b94_Romie-Bold.otf') format('opentype');
    font-style: bold;
}

/* Global styles */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar .logo {
    font-size: 25px;
    font-family: 'Romie', serif;
    color: white;
}

.navbar .menu {
    cursor: pointer;
}

.navbar .menu .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

.hero-section, .content-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    perspective: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-box, .content-box {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4.4rem; /* To account for fixed navbar */
}

.content-box {
    background-color: blanchedalmond;
    padding-top: 9rem;
}

.hero-box {
    background-image: url('images/hero.jpg');
}

.inner-container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.row, .rowOne, .rowTwo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: auto; /* Adjust height for better responsiveness */
}

.column {
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: left; /* Align text to the left */
}

.column-2-3 {
    flex: 2;
    justify-content: flex-start;
}

.column-1-3 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.column-1-2 {
    flex: 1;
    max-width: 50%; /* Ensure columns do not exceed 50% width */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

h1 {
    font-size: 70px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

h1:after {
    content: ' →';
}

h2 {
    font-size: 35px;
    margin: 10px 0;
    font-family: 'Romie', serif;
}

h3 {
    font-size: 25px;
    margin: 5px 0;
    font-family: 'Romie', serif;
    font-style: italic;
}

h4 {
    font-size: 25px;
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #6F0072;
}

h5 {
    text-align: left;
    text-transform: uppercase;
    font-family: 'Romie', sans-serif;
    font-size: 70px;
    line-height: .9;
    font-weight: bold;
    color: #6F0072;
}

h6 {
    text-align: left;
    text-transform: uppercase;
    font-family: 'Romie', sans-serif;
    font-size: 70px;
    line-height: .9;
    font-weight: bold;
}

h5:after {
    font-family: 'Inter', sans-serif;
    content: ' →';
}

p {
    font-size: 25px;
    margin: 10px 0;
    font-family: 'Romie', serif;
}

button.work-samples-btn {
    padding: 15px 30px;
    font-size: 18px;
    background-color: black;
    border-radius: 0.25rem;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

li {
    font-size: 25px;
    font-family: 'Romie', serif;
}

/* Media Queries */
@media (max-width: 768px) {
    .inner-container {
        align-items: flex-start;
    }

    .rowOne, .rowTwo, .row {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: auto; /* Adjust height for better responsiveness */
    }

    .column-2-3, .column-1-3, .column-1-2 {
        max-width: 100%;
        flex: none; /* Ensure columns take full width on small screens */
    }

    .column-1-3 {
        margin-top: 0.5rem; /* Add margin between stacked elements */
    }

    .rowTwo .column {
        margin-top: 1rem;
    }

    h1 {
        font-size: 70px;
        text-align: left; /* Keep text aligned left */
    }

    h2 {
        font-size: 35px;
        margin-right: 1rem;
        text-align: left; /* Keep text aligned left */
    }

    h2, h3, p, button {
        text-align: left; /* Ensure all text elements are left aligned */
    }

    .work-samples-btn {
        align-self: flex-start;
    }

    h1:after {
        content: ' ↓';
    }

    h1 {
        display: inline-block;
        white-space: pre-line; /* Ensure text wraps properly */
    }

    h5:after {
        font-family: 'Inter', sans-serif;
        content: ' ↓';
    }
}

/* Portfolio Section */
.portfolio-section {
    position: relative;
}

.portfolio-box {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4.4rem; /* To account for fixed navbar */
}

.portfolio-title {
    text-align: center;
    margin-bottom: 20px;
}

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.portfolio-text {
    width: 100%;
}

.h1T {
    font-size: 35px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-align: left;
}

.pT {
    font-size: 20px;
    margin: 2rem 0;
    font-family: 'Inter', sans-serif;
    text-align: left;
}

.spacer {
    height: 5rem;
}

/* Link styles */
a {
    color: #006699; /* Set link color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: underline; /* Add underline on hover */
}
