@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Importing fonts from local folder */
@font-face {
    font-family: 'Romie';
    src: url('fonts/6571f090b4507b5df57e09d7_Romie-Regular-Italic.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'Romie';
    src: url('fonts/6571f0902a42b97d799bd635_Romie-Regular.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Romie';
    src: url('fonts/6571f090d6f8cdc4ef704b94_Romie-Bold.otf') format('opentype');
    font-style: bold;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar .logo {
    font-size: 25px;
    font-family: 'Romie', serif;
}

.navbar .menu {
    cursor: pointer;
}

.navbar .menu .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    perspective: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color-box {
    height: 100%;
    width: 100%;
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 70px; /* To account for fixed navbar */
}

.inner-container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.rowOne {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: space-between;
}

.rowTwo {
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
}

.column {
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: left; /* Align text to the left */
}

.column-2-3 {
    flex: 2;
    justify-content: flex-start;
}

.column-1-3 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.column-1-2 {
    flex: 1;
    max-width: 50%; /* Ensure columns do not exceed 50% width */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

h1 {
    font-size: 70px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 35px;
    margin: 10px 0;
    font-family: 'Romie', serif;
}

h3 {
    font-size: 25px;
    margin: 5px 0;
    font-family: 'Romie', serif;
    font-style: italic;
}

h4 {
    font-size: 25px;
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #6F0072;
}

p {
    font-size: 25px;
    margin: 10px 0;
    font-family: 'Romie', serif;
}

button.work-samples-btn {
    padding: 15px 30px;
    font-size: 18px;
    background-color: black;
    border-radius: 0.25rem;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 768px) {
    .inner-container {
        align-items: center;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .column-1-3 {
        justify-content: center;
        margin-top: 20px;
    }

    .column-1-2 {
        max-width: 100%;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 18px;
    }

    button.work-samples-btn {
        font-size: 16px;
        padding: 10px 20px;
    }
}
